h1,
h2,
h3 {
    color: #C0E842;
}

.menu {
    background-color: #C0E842;
}

.menu a {
    color: #ffffff;
}

.menu a:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.content a {
    color: #107dac;
}

.applist a {
    color: #C0E842;
}

.filenotfound a {
    border: 2px solid #C0E842;
    color: #C0E842;
}
.footer {
    background-color: #C0E842;
}

.footer a {
    color: #ffffff;
}