body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    margin: 0;
}

h1 {
    display: inline-block;
    font-size: 1.7em;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
}

h2,
h3 {
    margin-left: 20px;
}

.icon {
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(194, 194, 194, 1);
    height: 80px;
    width: 80px;
}

.center {
    margin: 0 auto;
    max-width: 760px;
    padding: 20px;
}

.header {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header a {
    text-decoration: none;
}

.header .icon {
    vertical-align: top;
}

.menu.scroll {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    left: 50%;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
}

.menu {
    max-width: 800px;
    padding: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0 20px;
    white-space: nowrap;
}

.menu li {
    display: inline-block;
}

.menu li:hover {
    background-color: #ffffff;
}

.menu a {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    font-weight: bolder;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
}

.menu a:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.placeholder {
    display: none;
}

.placeholder.scroll {
    display: block;
    height: 60px;
}

.content {
    max-width: 800px;
    padding: 20px 0;
}

.content p {
    line-height: 1.4em;
    padding: 0 20px;
}

.applist a {
    background-image: url('/img/icon-touch.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    clear: both;
    display: block;
    margin-bottom: 20px;
    min-height: 80px;
    padding: 10px 20px;
    text-decoration: none;
}

.applist a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.applist img {
    margin-right: 20px;
    vertical-align: top;
}

.applist div {
    display: inline-block;
    width: calc(100% - 125px);
}

.applist h3,
.applist p {
    line-height: 1.3em;
    margin: 5px 0;
    padding: 0;
}

.app .buttons {
    margin: 20px 0 20px 20px;
}

.app .button {
    height: 40px;
    margin: 0 0 10px 10px;
}

.app .screen {
    box-shadow: 0px 5px 20px 0px rgba(194, 194, 194, 1);
    margin: 20px 0 20px 20px;
    width: 240px;
}

@media (max-width:799px) {
    .app .screen {
        width: calc(50% - 30px);
    }
}

@media (max-width:539px) {
    .app .screen {
        margin: 20px 0 20px 40px;
        width: calc(100% - 80px);
    }
}

.filenotfound a {
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    margin: 20px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    min-width: 130px;
}

.footer .domains {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    width: calc(50% - 20px);
}

.footer .domains a {
    line-height: 2em;
    text-decoration: none;
}

.footer .apps {
    display: inline-block;
    min-width: 240px;
    padding: 10px;
    width: calc(50% - 20px);
}

.footer .apps a {
    display: block;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}

.footer .apps a img {
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
    height: 30px;
    margin: 5px 10px 5px 0;
    vertical-align: middle;
    width: 30px;
}

@media (max-width:543px) {
    .footer .apps {
        width: calc(100% - 20px);
    }
    .footer .domains {
        width: 100%;
    }
}