h1,
h2,
h3 {
    color: #19B06E;
}

.menu {
    background-color: #19B06E;
}

.menu a {
    color: #ffffff;
}

.menu a:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.content a {
    color: #107dac;
}

.applist a {
    color: #19B06E;
}

.filenotfound a {
    border: 2px solid #19B06E;
    color: #19B06E;
}
.footer {
    background-color: #19B06E;
}

.footer a {
    color: #ffffff;
}